# Local Development Database URI
MONGO_URI_LOCAL=mongodb://127.0.0.1:27017/mytools

# Production Cloud Database URI (MongoDB Atlas, etc.)
MONGO_URI_PROD=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/mytools?retryWrites=true&w=majority
